#quote {
position: absolute;
    left: 9.86%;
right: 31.6%;
top: 11.33%;
bottom: 69.92%;
}
#engine {
border-radius: 50px 0px 0px 50px;
}
#cc {
position: absolute;
    left: 9.86%;
right: 18.47%;
top: 74.61%;
bottom: 16.02%;
}
#navimg {
    position: absolute;
left: 2%;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #000000;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #001489; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0000ff; 
}